html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFBE7;
    width: 100vw;
    height: 100vh;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #4a90e2;
}

.left-section {
    width: 80vw;
    flex: 1;
    background-color: #2b6cb0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}
.connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vh;
}
.signup {
    background-color: #2b6cb0;
    color: white;
    padding: 0.5vw 1vw;   
    border: #FFFBE7 0.2vw solid;    
    border-radius: 2vw;
    z-index: 1;
    cursor: pointer;
}
.login:hover {
    background-color: #2b6cb0;
    color: white !important;; 
    border: #FFFBE7 0.2vw solid;    
}
.login {
    margin-left: -3vw;
    background-color: #ffffff;
    color: #2b6cb0 !important;
    padding: 0.5vw 1vw;   
    border: #ffffff 0.2vw solid;    
    border-radius: 2vw;
    cursor: pointer;
    color: #2b6cb0 !important;
}
.signup:hover {
    background-color: #ffffff;
    color: #2b6cb0 !important;
    border: #2b6cb0 0.2vw solid;    
}
.login h3{
    padding-left: 2vw;
}