html, body {
    margin: 0;
    padding: 0;
    background-color: #4a90e2;
    width: 100vw;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #4a90e2;
    font-family: 'Roboto', sans-serif;
}

.left-section {
    width: 80vw;
    height: 100vh;
    flex: 1;
    background-color: #3e67ab;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vw;
    z-index: 100;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 100vh;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}
.connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;

    
}
.connect a {
    height: auto;
    text-decoration: none;
}
.signup {
    background-color: #3e67ab;
    color: white;
    padding: 0.5vw 1vw;   
    border: #FFFBE7 0.2vw solid;    
    border-radius: 2vw;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.login:hover {
    background-color: #3e67ab;
    color: white !important;; 
    border: #FFFBE7 0.2vw solid;    
}
.login {
    margin-right: -3vw;
    background-color: #ffffff;
    color: #3e67ab!important;
    padding: 0.5vw 1vw;   
    border: #ffffff 0.2vw solid;    
    border-radius: 2vw;
    cursor: pointer;
    color: #3e67ab !important;
    display: flex;
    align-items: center;
}
.signup:hover {
    background-color: #ffffff;
    color: #3e67ab !important;
    border: #3e67ab 0.2vw solid;    
}
.login h3{
    padding-right: 2vw;
}
header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 1vw;
    background-color: #3e67ab;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 0 0 0 1vw;
    gap: 2vw;
    font-family: "Roboto", sans-serif;
    z-index: 100;
    font-size: 2vw !important;
}

header img {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
}
.icons-arrow, .icons-nut {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.icons-arrow:hover , .icons-nut:hover , .icons-home:hover { /* Change la couleur */
    transform: scale(1.1); /* Agrandit légèrement */
    transition: all 0.1s ease;
}
.connect h3 {
    font-size: 1vw;
}
.logo {
    width: 30vw;
    height: 30vw;
    z-index: 100;
}
h3 {
    font-size: 1.5vw;
    text-align: center;
}