

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 6vw 3vw 0;
    font-family: "Roboto", sans-serif;
    width: 50vw;
    height: 70vh;
}

main .top{
    width: 32vw;
}

main .container-Txt {
    width: 100%;
    background-color: white;
    border-radius: 1.5vw;
    padding: 4vw 3vw 4vw 3vw;
    font-size: 1vw !important;
}

main .container-Txt h1 {
    font-size: 2.6vw !important;
    color: #3e67ab;
    text-align: center;
}
main h1 {
    font-size: 2.2vw !important;
    color: #ffffff;
    text-align: center;
}


.Play {
    position: relative;
    right: auto;
    top: -2.5vw;
    width: 13vw;
    height: 5vw;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-color: #3e67ab;
    border: 0.5vw solid #ffffff;
    border-radius: 1vw;
}
.Play:hover { /* Change la couleur */
    transform: scale(0.95); /* Agrandit légèrement */
    transition: all 0.1s ease;
}
main .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}   
.container-Player {
    width: 32vw;
    border: 0.2vw solid #ffffff;
    border-radius: 2vw;
    padding: 1vw;
    color: #ffffff;
    
}
.container-Player .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}
.container-Player .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.container-Player .bottom .other-Player {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
}
.container-Player .bottom img {
    width: 5vw;
    height: 5vw;

}

.container-Player .other-Player-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    padding: 0.7vw 0;
}

h2 {
    font-size: 1.8vw;
    color: #ffffff;
    text-align: center;
}
.pseudo {
    font-size: 1.2vw;
    color: #ffffff;
    text-align: center;
}
.container-Player .actual-Player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
    border-radius: 2vw;
    border: 0.2vw solid #3e67ab;
    padding: 0.5vw 1vw;
}