
main {
    margin: 0 6vw 3vw 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
h2 {
    font-size: 1.3vw;
    color: white;
}


.signup-container {
    width: 34vw;
    height: auto;
    padding: 3vw 3vw;
    border-radius: 2vw;
    border: 0.3vw solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.signup-title {
    color: white;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.input-group input {
    width: 48%;
}

.signup-form input {
    width: 100%;
    padding: 1.5vh 1vw;
    margin-bottom: 2vh;
    border-radius: 0.7vw;
    border: 0.2vw solid #3e67ab;
    outline: none;
    font-size: 1.8vh;
}

.submit-btn {
    width: 100%;
    padding: 1.5vh 1vw;
    background: #3e67ab;
    color: #ffffff;
    font-size: 2vh;
    font-weight: bold;
    border: 0.2vw solid #ffffff;
    border-radius: 0.7vw;
    cursor: pointer;
    margin-top: 2vh;
    margin-top: 2vw;
}

.submit-btn:hover {
    background: #4c74b6;
}

.login-text {
    margin-top: 2vh;
    width: 100%;
    color: white;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}
.input-group-collumn {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.icons-arrow {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}